@page
@model Web.Pages.Account.RegistrationModel
@{
    Layout = "MyLayout";
}
<div>
    <form asp-action="post">
            <div class="login-input">
                <label>Username</label>
                <input asp-for="@Model.userForm.Email" />
            </div>
            <div class="login-input">
                <label>Full Name</label>
                <input asp-for="@Model.userForm.FullName" />
            </div>
            <div class="login-input">
                <label>Password</label>
                <input asp-for="@Model.userForm.Password" />
            </div>
            <button type="submit" class="login-button">Registration</button>
        </form>
</div>

